fastapi
uvicorn[standard]
python-multipart
python-dotenv
sqlalchemy
psycopg2-binary
pgvector
pandas
openai
alembic
docker
pandas
openpyxl
pdfplumber
camelot-py
pytesseract
pillow
pdf2image
scikit-learn